{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "entry",
        "core-js": 3,
        "shippedProposals": true
      }
    ]
  ],
  "plugins": [
    "babel-plugin-styled-components"
  ]
}
